parameters:
  level: 6
  paths:
    - chain
    - ai-assistant
    - wallet
    - verifier-portal
  excludePaths:
    - wallet/desktop/node_modules
    - wallet/mobile/node_modules
    - wallet/browser-extension/node_modules
  inferPrivatePropertyTypeFromConstructor: true
